<app-navhome></app-navhome>
<div class="container">
    <div class="change-password-container">
        <h2>Change Password</h2>
        <form (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
          </div>
          <hr>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" (input)="checkPasswordStrength()" required>
            <span *ngIf="passwordStrengthMessage !== ''" style="font-size: 13px; font-weight: 800;" [ngStyle]="{'color': passwordStrengthColor}">{{ passwordStrengthMessage }}</span>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
            <label style="color: red; font-weight: 800;">{{ errorMessage }}</label>
          </div>
          <button type="submit" class="btn">Confirm</button>
        </form>
    </div>
</div>
<app-footer></app-footer>